<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceStagiaire" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4331/ServiceStagiaire.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceStagiaire"
                contract="FormationService.IServiceStagiaire" name="BasicHttpBinding_IServiceStagiaire" />
        </client>
    </system.serviceModel>
</configuration>