<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://BIP07:8080</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>BIP07</MSDeployServiceURL>
    <DeployIisAppPath>stagiaires</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Exo9.Properties.Settings.FormationConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=BIP07;Initial Catalog=Formations;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BIP07;Initial Catalog=Formations;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Exo9.Properties.Settings.FormationConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=BIP07;Initial Catalog=Formations;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FormationsContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=BIP07;Initial Catalog=Formations;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BIP07;Initial Catalog=Formations;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FormationsContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Formations.csdl|res://*/Formations.ssdl|res://*/Formations.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIP07;initial catalog=Formations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FormationsContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Formations.csdl|res://*/Formations.ssdl|res://*/Formations.msl;provider=System.Data.SqlClient;provider connection string="data source=BIP07;initial catalog=Formations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Exo9.Properties.Settings.FormationConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=BIP07;Initial Catalog=Formations;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>